<div id="product" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/master-data/stores'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="isEditMode">
            {{store.name}}
          </div>
          <div class="h2" *ngIf="isCreateMode">
            {{'STORE_DETAILS.PAGE_TITLE' | translate | titlecase}}
          </div>
          <div class="subtitle secondary-text">
            <span>{{'STORE_DETAILS.PAGE_SUBTITLE' | translate}}</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <div class="form-actions">
        <button mat-raised-button [disabled]="form.invalid || form.pristine" (click)="save()">
          <span>{{'BASE.SAVE' | translate | uppercase}}</span>
        </button>

        <button *ngIf="isEditMode" mat-raised-button color="warn" (click)="delete()">
          <span>{{'BASE.DELETE' | translate | uppercase}}</span>
        </button>
      </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

        <form name="form" [formGroup]="form" class="product w-100-p" fxLayout="column" fxFlex>

          <mat-tab-group>

            <mat-tab [label]="'STORE_DETAILS.INFO_TAB' | translate">

              <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field appearance="outline" fxFlex=32.5>
                    <mat-label>{{'STORE_DETAILS.NAME_FIELD' | translate}}</mat-label>
                    <input matInput name="name" formControlName="name" required>
                    <mat-error>{{'STORE_DETAILS.NAME_FIELD_REQUIRED' | translate}}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex=32.5>
                    <mat-label>{{'STORE_DETAILS.HOTLINE_FIELD' | translate}}</mat-label>
                    <input matInput name="hotline" formControlName="hotline">
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex=32.5>
                    <mat-label>{{'STORE_DETAILS.INVENTORY_FIELD' | translate}}</mat-label>
                    <mat-select name="inventoryId" formControlName="inventoryId" required>
                      <mat-option [value]="0" *ngIf="isCreateMode">
                        Mặc định | Kho - [Tên cửa hàng]
                      </mat-option>
                      <mat-option *ngFor="let inventory of dropdowns.inventories" [value]="inventory.id">
                        {{inventory.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>{{'STORE_DETAILS.INVENTORY_FIELD_REQUIRED' | translate}}</mat-error>
                  </mat-form-field>
                </div>


                <div formGroupName="address">
                  <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field appearance="outline" fxFlex=66.2>
                      <mat-label>{{'STORE_DETAILS.ADDRESS_STREET_FIELD' | translate}}</mat-label>
                      <input matInput name="street" formControlName="street" required>
                      <mat-error>{{'STORE_DETAILS.ADDRESS_STREET_FIELD_REQUIRED' | translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex=32.5>
                      <mat-label>{{'STORE_DETAILS.ADDRESS_WARD_FIELD' | translate}}</mat-label>
                      <input matInput name="ward" formControlName="ward">
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field appearance="outline" fxFlex=32.5>
                      <mat-label>{{'STORE_DETAILS.ADDRESS_DISTRICT_FIELD' | translate}}</mat-label>
                      <input matInput name="district" formControlName="district" required>
                      <mat-error>{{'STORE_DETAILS.ADDRESS_DISTRICT_FIELD_REQUIRED' | translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex=32.5>
                      <mat-label>{{'STORE_DETAILS.ADDRESS_CITY_FIELD' | translate}}</mat-label>
                      <input matInput name="city" formControlName="city" required>
                      <mat-error>{{'STORE_DETAILS.ADDRESS_CITY_FIELD_REQUIRED' | translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex=32.5>
                      <mat-label>{{'STORE_DETAILS.ADDRESS_COUNTRY_FIELD' | translate}}</mat-label>
                      <input matInput name="country" formControlName="country" required>
                      <mat-error>{{'STORE_DETAILS.ADDRESS_COUNTRY_FIELD_REQUIRED' | translate}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>


              </div>

            </mat-tab>

          </mat-tab-group>

        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>