<div class="page-layout carded fullwidth inner-scroll wh-page-list">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          view_module
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          {{'PRODUCT_GROUP_LIST.PAGE_TITLE' | translate | titlecase}}
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #filter [placeholder]="'PRODUCT_GROUP_LIST.SEARCH_PLACEHOLDER' | translate">
        </div>
      </div>
      <!-- / SEARCH -->

      <div class="form-actions">
        <button *ngIf="hasSelectedRows" mat-raised-button color="warn" (click)="deleteSelectedRows()">
          <span>{{'BASE.DELETE' | translate | uppercase}}</span>
        </button>
        <button *ngIf="!hasSelectedRows" mat-raised-button [routerLink]="'/master-data/product-groups/0'" class="fuse-white mt-24 mt-md-0">
          <span>{{'BASE.ADD_NEW' | translate | uppercase}}</span>
        </button>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <mat-table class="wh-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

        <!-- Checkbox -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let productGroup">
            <mat-checkbox [checked]="isRowSelected(productGroup.id)" (change)="onRowCheckboxChanged(productGroup.id)" (click)="$event.stopPropagation();">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let productGroup">
            <p class="text-truncate">{{productGroup.id}}</p>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'PRODUCT_GROUP_LIST.NAME_COLUMN' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let productGroup let rowIndex = index">
            <p *ngIf="!productGroup.isEditing" class="text-truncate">{{productGroup.name}}</p>
            <mat-form-field *ngIf="productGroup.isEditing" class="w-90-p">
              <input matInput name="name" required (click)="$event.stopPropagation()">
              <mat-error>{{'STORE_DETAILS.NAME_FIELD_REQUIRED' | translate}}</mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Created By Column -->
        <ng-container matColumnDef="createdBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'BASE.CREATED_BY_COLUMN' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let productGroup">
            <p class="text-truncate">{{productGroup.createdBy}}</p>
          </mat-cell>
        </ng-container>

        <!-- Created Date Column -->
        <ng-container matColumnDef="createdDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'BASE.CREATED_DATE_COLUMN' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let productGroup">
            <p class="text-truncate">{{productGroup.createdDate | date:'short'}}</p>
          </mat-cell>
        </ng-container>

        <!-- Updated By Column -->
        <ng-container matColumnDef="updatedBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'BASE.UPDATED_BY_COLUMN' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let productGroup">
            <p class="text-truncate">{{productGroup.updatedBy}}</p>
          </mat-cell>
        </ng-container>

        <!-- Updated Date Column -->
        <ng-container matColumnDef="updatedDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'BASE.UPDATED_DATE_COLUMN' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let productGroup">
            <p class="text-truncate">{{productGroup.updatedDate | date:'short'}}</p>
          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let productGroup let rowIndex = index">
            <button mat-icon-button (click)="onRowDeleteClicked($event, productGroup, productGroup.name)" fxHide.xs>
              <mat-icon class="secondary-text">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let productGroup; columns: displayedColumns;" class="wh-table-row" matRipple [routerLink]="'/master-data/product-groups/' + productGroup.id">
        </mat-row>
      </mat-table>

      <mat-paginator #paginator [length]="dataSource.dataLength$ | async" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>