<div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
    <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">
        <div class="h2 mb-24">Thông tin địa chỉ</div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Địa chỉ</mat-label>
                <textarea ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" matInput formControlName="addressLine" required>
                        </textarea>
                <mat-error>Địa chỉ là bắt buộc!</mat-error>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Đường</mat-label>
                <input matInput formControlName="street" required>
                <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                <mat-error>Đường là bắt buộc!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" class="px-8">
                <mat-label>Phường/xã</mat-label>
                <input matInput formControlName="ward" required>
                <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                <mat-error>Phường/xã là bắt buộc!</mat-error>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Quận/huyện</mat-label>
                <input matInput formControlName="district" required>
                <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                <mat-error>Quận huyện là bắt buộc!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" class="px-8">
                <mat-label>Quốc gia</mat-label>
                <input matInput formControlName="country" required>
                <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                <mat-error>Quốc gia là bắt buộc!</mat-error>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field appearance="outline" fxFlex="33">
                <mat-label>Tỉnh/Thành phố</mat-label>
                <input matInput formControlName="city" required>
                <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                <mat-error>Tỉnh/Thành phố là bắt buộc!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="34" class="px-8">
                <mat-label>State</mat-label>
                <input matInput formControlName="state">
                <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="33">
                <mat-label>Mã bưu điện</mat-label>
                <input matInput #postalCode formControlName="zipCode" maxlength="5">
                <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>

        </div>

    </form>
</div>
