<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content class="mat-typography">
  <p *ngIf="!data.isHtml">{{data.content}}</p>
  <div *ngIf="data.isHtml" [safeHtml]="data.content"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close tabindex="-1">Đóng</button>
</mat-dialog-actions>