<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content class="mat-typography">
  <p>{{data.content}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close tabindex="-1">Hủy</button>
  <button mat-button [mat-dialog-close]="true" tabindex="2">OK</button>
</mat-dialog-actions>