<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content class="mat-typography">
  <app-media-uploader (uploaded)="onMediaUploaded($event)"></app-media-uploader>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="uploadedMedia" tabindex="-1">Đóng</button>
</mat-dialog-actions>