<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content class="mat-typography">
  <mat-selection-list [(ngModel)]="selectedValues">
    <mat-list-option *ngFor="let item of data.items" [value]="item[data.valueField]" [checkboxPosition]="'before'">
      {{item[data.textField]}}
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close tabindex="-1">Hủy</button>
  <button mat-button [mat-dialog-close]="selectedValues" tabindex="2">OK</button>
</mat-dialog-actions>