<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/master-data/materials'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="isEditMode">
                        {{material.name}}
                    </div>
                    <div class="h2" *ngIf="isCreateMode">
                        {{'MATERIAL_DETAILS.PAGE_TITLE' | translate | titlecase}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{'MATERIAL_DETAILS.PAGE_SUBTITLE' | translate}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <div class="form-actions">
                <button mat-raised-button [disabled]="form.invalid || form.pristine" (click)="save()">
                    <span>{{'BASE.SAVE' | translate | uppercase}}</span>
                </button>

                <button *ngIf="isEditMode" mat-raised-button color="warn" (click)="delete()">
                    <span>{{'BASE.DELETE' | translate | uppercase}}</span>
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="form" [formGroup]="form" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab [label]="'MATERIAL_DETAILS.INFO_TAB' | translate">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="15px">
                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'MATERIAL_DETAILS.NAME_FIELD' | translate}}</mat-label>
                                        <input matInput name="name" formControlName="name" required>
                                        <mat-error>{{'MATERIAL_DETAILS.NAME_FIELD_REQUIRED' | translate}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'MATERIAL_DETAILS.MATERIAL_GROUP_FIELD' | translate}}</mat-label>
                                        <mat-select name="materialGroupId" formControlName="materialGroupId">
                                            <mat-option *ngFor="let materialGroup of dropdowns.materialGroups" [value]="null">
                                                {{materialGroup.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'MATERIAL_DETAILS.INVENTORY_UNIT_FIELD' | translate}}</mat-label>
                                        <input matInput name="inventoryUnit" formControlName="inventoryUnit" required>
                                        <mat-error>{{'MATERIAL_DETAILS.INVENTORY_UNIT_FIELD_REQUIRED' | translate}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'MATERIAL_DETAILS.SALE_UNIT_FIELD' | translate}}</mat-label>
                                        <input matInput name="saleUnit" formControlName="saleUnit" required>
                                        <mat-error>{{'MATERIAL_DETAILS.SALE_UNIT_FIELD_REQUIRED' | translate}}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="15px">

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'MATERIAL_DETAILS.INVENTORY_TO_SALE_AMOUNT_PER_UNIT_FIELD' | translate:translateObj}}</mat-label>
                                        <input matInput type="number" name="inventoryToSaleAmountPerUnit" formControlName="inventoryToSaleAmountPerUnit" required>
                                        <mat-error *ngIf="form.get('inventoryToSaleAmountPerUnit').hasError('required')">{{'MATERIAL_DETAILS.INVENTORY_TO_SALE_AMOUNT_PER_UNIT_FIELD_REQUIRED' | translate:translateObj}}</mat-error>
                                        <mat-error *ngIf="form.get('inventoryToSaleAmountPerUnit').hasError('min')">{{'MATERIAL_DETAILS.INVENTORY_TO_SALE_AMOUNT_PER_UNIT_FIELD_MIN' | translate:translateObj}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'MATERIAL_DETAILS.AVERAGE_PRICE_PER_INVENTORY_UNIT_FIELD' | translate:translateObj}}</mat-label>
                                        <input matInput type="number" name="averagePricePerInventoryUnit" formControlName="averagePricePerInventoryUnit" required>
                                        <mat-error *ngIf="form.get('averagePricePerInventoryUnit').hasError('required')">{{'MATERIAL_DETAILS.AVERAGE_PRICE_PER_INVENTORY_UNIT_FIELD_REQUIRED' | translate:translateObj}}</mat-error>
                                        <mat-error *ngIf="form.get('averagePricePerInventoryUnit').hasError('min')">{{'MATERIAL_DETAILS.AVERAGE_PRICE_PER_INVENTORY_UNIT_FIELD_MIN' | translate:translateObj}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'MATERIAL_DETAILS.AVERAGE_COST_PER_SALE_UNIT_FIELD' | translate:translateObj}}</mat-label>
                                        <input matInput type="number" name="averageCostPerSaleUnit" formControlName="averageCostPerSaleUnit" readonly>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'MATERIAL_DETAILS.MINIMUM_IN_STOCK_FIELD' | translate:translateObj}}</mat-label>
                                        <input matInput type="number" name="minimumInStock" formControlName="minimumInStock">
                                        <mat-error *ngIf="form.get('minimumInStock').hasError('min')">{{'MATERIAL_DETAILS.MINIMUM_IN_STOCK_FIELD_MIN' | translate}}</mat-error>
                                    </mat-form-field>

                                </div>

                                <div fxLayout="row" fxLayoutAlign="start">

                                    <mat-form-field appearance="outline" class="w-100-p">
                                        <mat-label>{{'MATERIAL_DETAILS.DESCRIPTION_FIELD' | translate}}</mat-label>
                                        <textarea matInput name="description" formControlName="description" rows="10"></textarea>
                                    </mat-form-field>

                                </div>

                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>