<div id="material-input" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    view_agenda
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.TITLE' | translate | titlecase}}
                </span>
            </div>
            <!-- / APP TITLE -->

            <div class="form-actions">
                <button mat-raised-button [disabled]="receiptForm.invalid || receiptForm.pristine || itemsDataSource.length === 0" (click)="save()">
                    <span>{{'BASE.SAVE' | translate | uppercase}}</span>
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group fxLayout="column" fxFlex>
                    <mat-tab [label]="'INVENTORY_MANAGEMENT.MATERIAL_INPUT.INFO_TAB' | translate">
                        <div class="order-details tab-content p-24" fusePerfectScrollbar>
                            <div class="section">
                                <form name="receiptForm" [formGroup]="receiptForm" class="product w-100-p" fxLayout="column" fxFlex>
                                    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="15px">
                                        <mat-form-field appearance="outline" class="w-100-p">
                                            <mat-label>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.INVENTORY_FIELD' | translate}}</mat-label>
                                            <mat-select name="inventoryId" formControlName="inventoryId" required>
                                                <mat-option *ngFor="let inventory of dropdowns.inventories" [value]="inventory.value">
                                                    {{inventory.label}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.INVENTORY_FIELD_REQUIRED' | translate}}</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="w-100-p">
                                            <mat-label>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.RECEIPT_DATE_FIELD' | translate}}</mat-label>
                                            <input matInput [matDatepicker]="receiptDatePicker" formControlName="receiptDate" [placeholder]="'BASE.DATE_FIELD_PLACEHOLDER' | translate" required>
                                            <mat-datepicker-toggle matSuffix [for]="receiptDatePicker"></mat-datepicker-toggle>
                                            <mat-datepicker #receiptDatePicker></mat-datepicker>
                                            <mat-error>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.RECEIPT_DATE_FIELD_REQUIRED' | translate}}</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" class="w-100-p">
                                            <mat-label>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.PRICE_FIELD' | translate}}</mat-label>
                                            <input matInput name="price" formControlName="price">
                                            <span matSuffix>{{'BASE.CURRENCY_VND' | translate}}</span>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="space-between">
                                        <mat-form-field appearance="outline" fxFlex=100>
                                            <mat-label>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.NOTE_FIELD' | translate}}</mat-label>
                                            <textarea matInput name="note" formControlName="note" rows="2"></textarea>
                                        </mat-form-field>
                                    </div>
                                </form>
                            </div>
                            <div class="section">
                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">format_list_bulleted</mat-icon>
                                    <div class="h2 secondary-text">{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.INPUT_LIST' | translate}}</div>
                                </div>

                                <div>
                                    <form name="itemForm" [formGroup]="itemForm" class="product w-100-p" fxLayout="column" fxFlex>
                                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
                                            <mat-form-field appearance="outline" class="w-100-p">
                                                <mat-label>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.SUPPLIER_FIELD' | translate}}</mat-label>
                                                <mat-select name="supplierId" formControlName="supplierId">
                                                    <mat-option [value]="null">
                                                        Không chọn
                                                    </mat-option>
                                                    <mat-option *ngFor="let supplier of dropdowns.suppliers" [value]="supplier.value">
                                                        {{supplier.label}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" class="w-100-p">
                                                <mat-label>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.CODE_FIELD' | translate}}</mat-label>
                                                <input matInput name="consignmentCode" formControlName="consignmentCode">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" class="w-100-p">
                                                <mat-label>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.MATERIAL_FIELD' | translate}}</mat-label>
                                                <mat-select name="materialId" formControlName="materialId" required>
                                                    <mat-option *ngFor="let material of dropdowns.materials" [value]="material.value">
                                                        {{material.label}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.MATERIAL_FIELD_REQUIRED' | translate}}</mat-error>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" class="w-100-p">
                                                <mat-label>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.QUANTITY_FIELD' | translate}}</mat-label>
                                                <input matInput name="quantity" formControlName="quantity" required>
                                                <span matSuffix>{{inventoryUnit}}</span>
                                                <mat-error>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.QUANTITY_FIELD_REQUIRED' | translate}}</mat-error>
                                            </mat-form-field>

                                            <button mat-flat-button color='accent' [disabled]="itemForm.invalid || itemForm.pristine" (click)="onAddItemClicked()" class="w-20-p">
                                                <span>{{'BASE.ADD' | translate | uppercase}}</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <div *ngIf="itemsDataSource.length !== 0">
                                    <mat-table class="wh-table mat-elevation-z4" [dataSource]="itemsDataSource" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
                                        <!-- Material Column -->
                                        <ng-container matColumnDef="material">
                                            <mat-header-cell *matHeaderCellDef>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.MATERIAL_FIELD' | translate}}</mat-header-cell>
                                            <mat-cell *matCellDef="let item">
                                                <p class="text-truncate">{{item.materialDisplay}}</p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Supplier Column -->
                                        <ng-container matColumnDef="supplier">
                                            <mat-header-cell *matHeaderCellDef>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.SUPPLIER_FIELD' | translate}}</mat-header-cell>
                                            <mat-cell *matCellDef="let item">
                                                <p class="text-truncate">{{item.supplierDisplay}}</p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Consignment Code Column -->
                                        <ng-container matColumnDef="consignmentCode">
                                            <mat-header-cell *matHeaderCellDef>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.CODE_FIELD' | translate}}</mat-header-cell>
                                            <mat-cell *matCellDef="let item">
                                                <p class="text-truncate">{{item.consignmentCode}}</p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Quantity Column -->
                                        <ng-container matColumnDef="quantity">
                                            <mat-header-cell *matHeaderCellDef>{{'INVENTORY_MANAGEMENT.MATERIAL_INPUT.QUANTITY_FIELD' | translate}}</mat-header-cell>
                                            <mat-cell *matCellDef="let item">
                                                <p class="text-truncate">{{item.quantityDisplay}}</p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Actions Column -->
                                        <ng-container matColumnDef="actions">
                                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                            <mat-cell *matCellDef="let item let rowIndex = index">
                                                <button mat-icon-button (click)="onItemRowDeleteClicked($event, rowIndex)" fxHide.xs>
                                                    <mat-icon class="secondary-text">delete</mat-icon>
                                                </button>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                                        <mat-row *matRowDef="let item; columns: displayedColumns;" class="wh-table-row">
                                        </mat-row>
                                    </mat-table>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>