@import "src/@fuse/scss/fuse";

.wh-page-list {

        .top-bg {

            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }

        > .center {

            > .header {

                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .form-actions {
        button {
            margin-left: 10px;
            width: 100px;
        }
    }

    .content-card {
        form {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            overflow: hidden;
        }
    }

    .wh-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .wh-table-row {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-createdBy {
            flex: 0 1 150px;
        }

        .mat-column-createdDate {
            flex: 0 1 150px;
        }

        .mat-column-updatedBy {
            flex: 0 1 150px;
        }

        .mat-column-updatedDate {
            flex: 0 1 150px;
        }

        .mat-column-actions {
            flex: 0 1 100px;
            justify-content: flex-end;
        }

        .mat-column-select {
            flex: 0 1 60px;
            overflow: initial;
            line-height: 1px;
        }
}
