<div id="product" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/master-data/material-groups'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="isEditMode">
            {{materialGroup.name}}
          </div>
          <div class="h2" *ngIf="isCreateMode">
            {{'MATERIAL_GROUP_DETAILS.PAGE_TITLE' | translate | titlecase}}
          </div>
          <div class="subtitle secondary-text">
            <span>{{'MATERIAL_GROUP_DETAILS.PAGE_SUBTITLE' | translate}}</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <div class="form-actions">
        <button mat-raised-button [disabled]="form.invalid || form.pristine" (click)="save()">
          <span>{{'BASE.SAVE' | translate | uppercase}}</span>
        </button>

        <button *ngIf="isEditMode" mat-raised-button color="warn" (click)="delete()">
          <span>{{'BASE.DELETE' | translate | uppercase}}</span>
        </button>
      </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

        <form name="form" [formGroup]="form" class="product w-100-p" fxLayout="column" fxFlex>

          <mat-tab-group>

            <mat-tab [label]="'MATERIAL_GROUP_DETAILS.INFO_TAB' | translate">

              <div class="tab-content p-24" fusePerfectScrollbar>

                <mat-form-field appearance="outline" class="w-100-p">
                  <mat-label>{{'MATERIAL_GROUP_DETAILS.NAME_FIELD' | translate}}</mat-label>
                  <input matInput name="name" formControlName="name" required>
                  <mat-error>{{'MATERIAL_GROUP_DETAILS.NAME_FIELD_REQUIRED' | translate}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100-p">
                  <mat-label>{{'MATERIAL_GROUP_DETAILS.DESCRIPTION_FIELD' | translate}}</mat-label>
                  <textarea matInput name="description" formControlName="description" rows="10">
                  </textarea>
                  <mat-error>{{'MATERIAL_GROUP_DETAILS.DESCRIPTION_FIELD_REQUIRED' | translate}}</mat-error>
                </mat-form-field>

              </div>

            </mat-tab>

          </mat-tab-group>

        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>